R2_ENDPOINT=https://xxx.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET=arborisis
R2_PREFIX=
R2_FILTER_PATTERN=.mp3
SCAN_INTERVAL_MS=60000
ICY_METAINT=8192
RADIO_SHUFFLE=true
PORT=8000
